<style>

    *{
      color: white;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body{
      background: url("https://unsplash.com/photos/white-steel-chair-in-front-round-table-on-white-rug-X5BWooeO4Cw") ;
    }
    .btn1{
      border: none;
      outline: none;
      height: 58px;
      width: 100%;
      background-color: black;
      color: white;
      border-radius: 4px;
      font-weight: bold;
    }
    .btn1:hover{
      background: white;
      color: black;
    }
</style>


<section class="Form my-4 mx-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6 px-5 pt-5 bg-dark bg-opacity-50 rounded">
        <h1 class="text-center font-weight-bold py-3 mt-3">Add a new desk</h1>
        <h4 class="text-center">for people to view</h4>

          <%= simple_form_for(desk) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">

              <%= f.input :title,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "title", class:"form-control my-2 p-3" } %>
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name", class:"form-control my-2 p-3" } %>
              <%= f.input :description,
                          required: true,
                          autofocus: true,
                          wrapper_html: { data: { no_escape: true } },
                          input_html: { autocomplete: "description", class:"form-control my-2 p-3" } %>
              <%= f.input :price,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "price", class:"form-control my-2 p-3" } %>
              <%= f.input :photos, as: :file,
                          input_html: { multiple: true, class:"form-control my-2 p-3" } %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Add Desk", class:"btn1 mt-3 mb-3"%>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
