
  <div id="rail" class="carousel slide center" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/home-desk-1.jpg" class="d-block w-100 carousel-home">
      </div>
      <div class="carousel-item">
        <%=image_tag 'home-desk-2.jpg', class: "d-block w-100 carousel-home" %>
      </div>
      <div class="carousel-item">
        <%=image_tag 'home-desk-3.jpg', class: "d-block w-100 carousel-home" %>
      </div>
        <div class="carousel-item">
        <%=image_tag 'home-desk-4.jpg', class: "d-block w-100 carousel-home" %>
      </div>
    </div>
    <div class="button d-flex flex-column">
      <%= link_to "Find your desk", desks_path, class: "btn btn-outline-dark desk" %>
    </div>
  </div>
<div class="container">
  <h2 class="text-center p-3 mt-2" id="how-it-works">How it works</h2>
  <div class="card-category">
    <div class="card border-0">
      <%= image_tag "look_for_a_desk.jpg", class: "card-img-top" %>
      <div class="card-body">
        <%= link_to new_desk_path do %>
          <p class="card-text">List your workspace</p>
        <% end %>
      </div>
    </div>

    <div class="card border-0">
      <%= image_tag "make_an_appointment.jpg", class: "card-img-top" %>
        <div class="card-body">
          <p class="card-text">Make a booking</p>
        </div>
    </div>


      <div class="card border-0">
        <%= link_to desks_path do %>
          <%= image_tag "new_friend.jpg", class: "card-img-top" %>
          <div class="card-body">
            <p class="card-text">Find your dream workspace</p>
          </div>
        <% end %>
      </div>


  </div>
  <div class="home-text">
  <p>Welcome to DeskStay, your ultimate destination for inspiring workspaces and productive environments. Whether you're a freelancer, entrepreneur, or remote worker, we've got the perfect desk space waiting for you.</p>

  <p>Discover a curated collection of unique and stylish desks in prime locations. From modern co-working spaces in bustling city centers to tranquil shared offices in scenic surroundings, we've handpicked the best spots to fuel your creativity and supercharge your productivity.</p>

  <p>Choose from a variety of desk options tailored to your needs. Whether you prefer a cozy corner with natural light, a collaborative open workspace to network with like-minded professionals, or a private office for ultimate focus, we've got you covered.</p>

  <p>Our dedicated hosts are passionate about providing an exceptional experience. They're ready to welcome you with top-notch amenities, high-speed internet, and a vibrant community that fosters collaboration and growth.</p>

  <p>With DeskStay, finding your dream workspace is a breeze. Simply browse our extensive listings, check availability, and book your desk with ease. Whether you need a flexible day pass or a long-term arrangement, we've got flexible options to suit your schedule.

  <p>Elevate your workday and unlock your full potential with DeskStay. Join our thriving community of professionals who believe that where you work matters. Start exploring today and discover the perfect desk space that sparks your creativity and fuels your success."</p>
  </div>
</div>
